<%= link_to "Add Admin",new_user_path(:type => "Admin"), :class => "btn btn-danger" %>
<%= link_to "Add Manager",new_user_path(:type => "Manager"), :class => "btn btn-danger " %>
<%= link_to "Add Customer",new_user_path(:type => "Customer"), :class => "btn btn-danger " %>
<%= link_to "Back",admins_path, :class => "btn btn-danger backCls" %>
<h3></h3>
<% if @users.present? %>
	<table class="table table-striped">
  <thead>
    <tr>
	    <th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Type</th>
			<th>Date of Birth</th>
			<th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= link_to user.email ,edit_user_path(user) %></td>
				<td><%= user.type.to_s %></td>
				<td><%= user.date_of_birth %></td>
				<td><%= user.status? ? 'Active' : 'Blocked' %></td>
				<td><%= link_to 'Delete',user_path(user) ,:method=>'delete',:confirm=>'Are you sure want to remove this user?' %></td>
			</tr>
		<% end %>
  </tbody>
</table>
<% else %>
	<p>No records found.</p>
<% end %>


